language: ruby
before_script:
  - sudo apt-get update -y
  - sudo apt-get install -y fontforge eot-utils unzip
  - "sudo apt-get install -y ruby*.*.*-dev"
  - "wget http://people.mozilla.com/~jkew/woff/woff-code-latest.zip"
  - "unzip woff-code-latest.zip -d sfnt2woff && cd sfnt2woff && make && sudo mv sfnt2woff /usr/local/bin/"
rvm:
  - 1.9.3
  - 2.0.0
