@mixin fontcustom-font-face($name) {
  @font-face {
    font-family: "#{$name}";
    src: font-url("#{$name}.eot?#iefix") format("embedded-opentype"),
         font-url("#{$name}.woff") format("woff"),
         font-url("#{$name}.ttf") format("truetype"),
         font-url("#{$name}.svg##{$name}") format("svg");
    font-weight: normal;
    font-style: normal;
  }
}

// generates icon classes in the format icon-<font-name>-<letter-name>
// for each letter in the font.
//
// $name          must be the name of the font
// $letter-names  must be a space-separated list of letter names
// $base-class    should be the css class to @extend
@mixin letters($name, $letter-names, $base-class: false) {
  @each $letter-name in $letter-names {

    $index: index($letter-names, $letter-name);
    $class_name: "icon-#{$name}-#{$letter-name}";

    .#{$class_name} {
      @if $base-class { @extend #{$base-class}; }
      &:before { content: letter($index); }
    }

  }
}
